html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    position: relative;
    margin: 50px auto;
    max-width: 1200px;
}

.carousel {
    overflow: hidden;
}

.carousel-list {
    display: flex;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.25s ease 0s;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: red;
    cursor: pointer;
    z-index: 100;
}

.arrow-left {
    left: 0;
    margin-top: -10px;
}

.arrow-right {
    right: 0;
    margin-top: -10px;
}

@media only screen and (max-width: 1200px) {
    .container {
        background: red;
    }
}

.carousel img {
    margin-right: 20px;
    /* width: 285px; */
    /* width: 100%; */
    align-self: center;
}
body {
    position: relative;
}

#test {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #a5c9ff;
    z-index: 11111;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}




















